.github/data/assemblies
.github/data/fastq
.github/data/fluviewer_db
.nextflow*
work
test_input
test_output
test_data/
./test*
ref/
input_test/
output_test/
Validation_notes.md
.Rproj.user
*/__pycache__/*.pyc
assets/genoflu/GenoFLU
